accelerate==1.13.0
basicsr==1.4.2
controlnet_aux==0.0.10
diffusers==0.25.0
einops==0.8.2
facexlib==0.3.0
ftfy==6.3.1
gradio==4.19.1
huggingface_hub==0.36.2
httpx==0.23.3
insightface==0.7.3
mediapipe==0.10.14
numpy==1.26.4
onnxruntime-gpu==1.25.1
opencv-python==4.11.0.86
Pillow==10.4.0
protobuf==4.25.9
safetensors==0.7.0
sentencepiece==0.2.1
timm==1.0.26
--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.11.0+cu128
torchaudio==2.11.0+cu128
torchsde==0.2.6
torchvision==0.26.0+cu128
transformers==4.43.3
xformers==0.0.35
